<template>
    <div class="container">
        <h1 v-if="currentUser">Hallo {{ currentUser.name }} . . . welcome to your work space.</h1>
    </div>
</template>

<script>
    export default {
        computed:{
            currentUser(){
                console.log(this.$store.getters.currentUser);
                return this.$store.getters.currentUser;
            }
        }
    }
</script>
