<template>
    <div class="pb-5" >
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <router-link class="navbar-brand" to="/">Shop</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <Search />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <template v-if="!currentUser">
                            <li>
                                <router-link to="/login" class="nav-link">Login</router-link>
                            </li>
                            <li>
                                <router-link to="/register" class="nav-link">Register</router-link>
                            </li>
                        </template>
                        <template v-else>
                            <li>
                                <router-link to="/dashboard" class="nav-link">Dashboard</router-link>
                            </li>
                            <li>
                                <router-link to="/userpage" class="nav-link">User page</router-link>
                            </li>
                            <li>
                                <router-link to="/products" class="nav-link">Products Search</router-link>
                            </li>
                            <li class="nav-item dropdown">
                                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    {{currentUser.name}} <span class="caret"></span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a href="#!" @click.prevent="logout" class="dropdown-item">Logout</a>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    console.log('header');
    import Search from './Search.vue';
    export default {
        name: 'app-header',
        components: {Search },
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push('/login');
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            }
        }
    }
</script>
