<template>
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Shop Name</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div id="carousel">

                </div>

                <div class="row">
                    <div v-for="item in products" class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top card-image" :src="'/images/' + item.image" alt=""></a>
                            <div class="card-body ">
                                <h5 class="card-title">
                                    <router-link :to="'/product/' + item.id">{{item.title}}</router-link>
                                </h5>
                                <h5 v-if="item.price !== '0.00'">${{item.price}}</h5>
                                <p class="card-text">{{item.availability}}</p>
                                <button :id="item.id" type="button" v-on:click="addToFavourite($event)" class="btn"
                                        :class="changeFavouriteButton(item.id)">
                                    {{changeFavouriteButtonText(item.id)}}
                                </button>
                                <button :id="item.id" type="button" v-on:click="addToCart($event)" class="btn"
                                        :class="changeCartButton(item.id)">
                                    {{changeCartButtonText(item.id)}}
                                </button>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</template>

<script>
    export default {
        data: function () {
            return {
                userId: null,
                products: [],
                liked: [],
                cart: [],
                clickEvent: null
            }
        },
        mounted() {
            var app = this;
            if (this.$store.getters.currentUser.id) {
                app.userId = this.$store.getters.currentUser.id;
            }
            axios.get('/api/products')
                .then(function (resp) {
                    app.products = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load products");
                });
            if (app.userId) {
                let params = {
                    id: app.userId
                };

                //   Getting favourites data

                axios.get('/api/favourites', {params})
                    .then(function (resp) {
                        $.each(resp.data, function (item, value) {
                            app.liked.push(value.id);
                        });
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not load favourites");
                    });

                //   Getting cart data

                axios.get('/api/cart', {params})
                    .then(function (resp) {
                        $.each(resp.data, function (item, value) {
                            app.cart.push(value.id);
                        });
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not load cart");
                    });
            }
        },
        methods: {
            changeFavouriteButton(id) {
                var app = this;
                if (app.liked.includes(id)) {
                    return 'btn-primary';
                } else {
                    return 'btn-outline-primary';
                }
            },
            changeCartButton(id) {
                var app = this;
                if (app.cart.includes(id)) {
                    return 'btn-success';
                } else {
                    return 'btn-outline-success';
                }
            },
            changeCartButtonText(id) {
                var app = this;
                if (app.cart.includes(id)) {
                    return 'In Cart';
                } else {
                    return 'To Cart';
                }
            },
            changeFavouriteButtonText(id) {
                var app = this;
                if (app.liked.includes(id)) {
                    return 'In Favourite';
                } else {
                    return 'To Favourite';
                }
            },
            addToCart(event) {
                var app = this;
                app.clickEvent = event;
                if (!app.userId) {
                    app.$router.push("/login")
                } else {
                    let params = {
                        userId: app.userId,
                        prodId: event.target.id
                    };
                    axios.post('/api/cart/add_cart', params)
                        .then(function (resp) {
                            console.log(resp.data);
                            if (resp.data) {
                                console.log(app.clickEvent.target.classList);
                                app.clickEvent.target.classList.remove('btn-outline-success');
                                app.clickEvent.target.classList.toggle('btn-success');
                                app.clickEvent.target.innerText = 'In Cart';
                            } else {
                                app.clickEvent.target.classList.remove('btn-success');
                                app.clickEvent.target.classList.toggle('btn-outline-success');
                                app.clickEvent.target.innerText = 'To Cart';
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp);
                            alert("Error adding/delete to cart");
                        });
                }
            },
            addToFavourite(event) {
                var app = this;
                app.clickEvent = event;
                if (!app.userId) {
                    app.$router.push("/login")
                } else {
                    let params = {
                        userId: app.userId,
                        prodId: event.target.id
                    };
                    axios.post('/api/favourites/add_favourite', params)
                        .then(function (resp) {
                            if (resp.data) {
                                console.log(app.clickEvent.target.classList);
                                app.clickEvent.target.classList.remove('btn-outline-primary');
                                app.clickEvent.target.classList.toggle('btn-primary');
                                app.clickEvent.target.innerText = 'In Favourite';
                            } else {
                                app.clickEvent.target.classList.remove('btn-primary');
                                app.clickEvent.target.classList.toggle('btn-outline-primary');
                                app.clickEvent.target.innerText = 'To Favourite';
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp);
                            alert("Error adding/delete to cart");
                        });

                }
            }
        }
    }
</script>
