<template>
    <div class="container">
        <h1 class="text-center pb-4">{{status}}</h1>
        <div class="row">
            <div class="col-auto mr-auto">
                <router-link :to="'/'">
                    <button class="btn btn-outline-primary ">
                        Back to Shopping
                    </button>
                </router-link>
            </div>
            <div class="col-auto">
                <router-link :to="'/userpage'">
                    <button class="btn btn-outline-primary ">
                        See your orders
                    </button>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                status: null
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/status/getStatus')
                .then(function (resp) {
                    app.status = resp.data;
                    console.log(app.status);
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load status");
                });
        },
        methods: {}
    }
</script>

<style scoped>

</style>
