<template>
    <div>
        <div class="panel panel-default">
            <h1 class="panel-heading text-center">Products list</h1>
            <div class=" p-3 panel-body">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#datePicker"
                        aria-expanded="false" aria-controls="collapseExample">
                    Search with date range
                </button>
                <div class="collapse" id="datePicker">
                    <div class="border border-secondary">
                        <div class="p-3">
                            <div>
                                <label for="start-datepicker">Choose a first date</label>
                                <b-form-datepicker id="start-datepicker" v-model="startDate"
                                                   class="mb-2"></b-form-datepicker>
                            </div>
                            <div>
                                <label for="end-datepicker">Choose a second date</label>
                                <b-form-datepicker id="end-datepicker" v-model="endDate"
                                                   class="mb-2"></b-form-datepicker>
                            </div>
                            <button v-on:click="formattedSearch" class="btn btn-primary"> Date search</button>
                        </div>
                    </div>
                </div>
                <Search />
            </div>
        </div>
    </div>
</template>

<script>
    import Search from './Search.vue';
    export default {
        components: {Search},
        data: function () {
            return {
                startDate: null,
                endDate: null,
                components: {Search },
                products: []
            }
        },
        methods: {
            formattedSearch() {
                var app = this;
                axios.get('/api/products/date', {
                    params: {
                        startDate: this.startDate,
                        endDate: this.endDate
                    }
                }).then((resp) => {
                    app.products = resp.data;
                }).catch((error) => {
                    console.log(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>
