<template>

    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4">Shop Name</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid show-image" :src="'/images/' + product.image" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{product.title}}</h3>
                        <h4  v-if="product.price !== '0.00'" >${{product.price}}</h4>
                        <p class="card-text">{{product.availability}}</p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                        4.0 stars
                    </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <form class=" " method="POST" id="payment-form"  action="/api/paypal">
                            <input class=""  name="id" :value="product.id" type="hidden">
                            <input class=""  name="userId" :value="userId" type="hidden">
                            <button class="w3-btn w3-blue">Pay with PayPal</button>
                        </form>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->

</template>

<script>
    export default {
        data: function () {
            return {
                id: this.$route.params.id,
                userId: this.$store.getters.currentUser.id,
                product: []
            }
        },
        mounted() {
            var app = this;
            app.getContent();
        },
        watch: {
            $route(to, from) {
                var app = this;
                var id = to.params.id;
                if (from.path != to.path) {
                    app.id = id;
                    app.getContent();
                }
            }
        },
        methods: {
            buyItem() {
                var app = this;
                axios.post('/api/paypal', {
                        id: app.id,
                }).then((resp) => {
                    console.log(resp);
                }).catch((error) => {
                    console.log(error);
                });
            },
            getContent() {
                var app = this;
                axios.get('/api/product/show-product',{
                    params: {
                        id: app.id
                    }
                })
                    .then(function (resp) {
                        app.product = resp.data;
                        console.log(app.product);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not load product");
                    });
            }
        }
    }
</script>

<style scoped>

</style>
