<template>
    <div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" v-model="searchQuery" placeholder="Search"
                   aria-label="Search">
        </form>
        <ul class="list-group position-fixed ">
            <li v-for="item in resultQuery" class="list-group-item w-50">
                <router-link :to="'/product/' + item.id" >{{item.title}}</router-link>
                <span><strong>${{item.price}}</strong></span></li>
        </ul>
    </div>
</template>

<script>

    export default {
        data: function () {
            return {
                searchQuery: null,
                products: [],
            }
        },
        beforeRouteUpdate(to) {
            this.name = to.params.name
        },
        mounted() {
            var app = this;
            axios.get('/api/products')
                .then(function (resp) {
                    app.products = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load products");
                });
        },
        computed: {
            resultQuery() {
                let app = this;
                if (app.searchQuery) {
                    console.log(app.products);
                    var result = JSON.parse(JSON.stringify(app.products));
                    var prods = [];
                    $.each(result, function (item, value) {
                        prods.push(value);
                    });
                    console.log(prods);
                    return prods.filter((item) => {
                        return app.searchQuery.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
                    })
                } //else {
                //     return app.products;
                // }
            }

        },
        methods: {

        },
    }
</script>

<style scoped>

</style>
