<template>
    <div>
        <h1 class="panel-heading text-center">User Info</h1>
        <div class="p-5 row mx-md-n5">
            <div class="col px-md-5">
                <b-form v-if="show" class="p-5">
                    <b-form-group
                        id="input-group-1"
                        label="Email address:"
                        label-for="input-1"
                        description="We'll never share your email with anyone else."
                    >
                        <b-form-input
                            id="input-1"
                            v-model="form.email"
                            type="email"
                            required
                            placeholder="Enter email"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                        <b-form-input
                            id="input-2"
                            v-model="form.name"
                            required
                            placeholder="Enter name"
                            value="textsds"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group id="input-group-4">
                        <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
                            <b-form-checkbox value="me">Check me out</b-form-checkbox>
                            <b-form-checkbox value="that">Check that out</b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-form-group>

                    <b-button v-on:click="onSubmit" variant="primary">Submit</b-button>
                </b-form>
            </div>
        </div>
        <div class="p-5 row mx-md-n5">
            <div class="col px-md-5">
                <h2 class="panel-heading text-center">Your favourites</h2>
                <table class="table table-bordered table-striped col px-md-5">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="favourite, index in favourites">
                        <td>{{ favourite.title }}</td>
                        <td>{{ favourite.price }}</td>
                        <td>
                            <button
                                class="btn btn-xs btn-danger" :id="favourite.id"
                                v-on:click="deleteFavourite($event)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col px-md-5">
                <h2 class="panel-heading text-center">Your Cart</h2>
                <table class="table table-bordered table-striped col px-md-5">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in cart">
                        <td>{{ item.title }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <button
                                class="btn btn-xs btn-danger" :id="item.id"
                                v-on:click="deleteCart($event)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-5 row mx-md-n5">
            <div class="col px-md-5">
                <h2 class="panel-heading text-center">Your orders</h2>
                <table class="table table-bordered table-striped ">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Credentials</th>
                        <th>Address</th>
                        <!--                    <th width="100">&nbsp;</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="order in orders">
                        <td>{{ order.title }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.customer_name }}</td>
                        <td>{{ order.address }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    email: this.$store.getters.currentUser.email,
                    name: this.$store.getters.currentUser.name,
                },
                userId: this.$store.getters.currentUser.id,
                favourites: null,
                orders: null,
                show: true,
                cart: []
            }
        },
        mounted() {
            var app = this;
            let params = {
                id: app.userId
            };

            // Favourites
            axios.get('api/favourites',{params})
                .then(function (resp) {
                    app.favourites = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load favourites");
                });

            // Orders
            axios.get('api/orders',{params})
                .then(function (resp) {
                    app.orders = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load orders");
                });

            // Cart
            axios.get('/api/cart', {params})
                .then(function (resp) {
                    app.cart = resp.data
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load cart");
                });
        },
        computed: {
            currentUser() {
                console.log(this.$store.getters.currentUser);
                return this.$store.getters.currentUser;
            }
        },
        methods: {
            onSubmit(evt) {
                const app = this;
                let params = {
                    id: app.userId,
                    name: this.form.name,
                    email: this.form.email,

                };
                axios.post('api/user/update', params)
                    .then(function (resp) {
                        if (resp.data) {
                            console.log(app.form.email);
                            app.$store.commit('updateUser', {
                                name: app.form.name,
                                email: app.form.email
                            });
                        } else {
                            evt.preventDefault();
                            alert('Something went wrong')
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not load user");
                    });
            },
            deleteCart(event) {
                var app = this;
                app.clickEvent = event;
                if (!app.userId) {
                    app.$router.push("/login")
                } else {
                    let params = {
                        userId: app.userId,
                        prodId: event.target.id
                    };
                    axios.post('/api/cart/add_cart', params)
                        .then(function (resp) {
                            console.log(resp.data);
                            if (resp.data) {
                                console.log(app.clickEvent.target.classList);
                                app.clickEvent.target.classList.remove('btn-outline-success');
                                app.clickEvent.target.classList.toggle('btn-danger');
                                app.clickEvent.target.innerText = 'Delete';
                            } else {
                                app.clickEvent.target.classList.remove('btn-danger');
                                app.clickEvent.target.classList.toggle('btn-outline-success');
                                app.clickEvent.target.innerText = 'Undo';
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp);
                            alert("Error adding/delete to cart");
                        });
                }
            },
            deleteFavourite(event) {
                var app = this;
                app.clickEvent = event;
                if (!app.userId) {
                    app.$router.push("/login")
                } else {
                    let params = {
                        userId: app.userId,
                        prodId: event.target.id
                    };
                    axios.post('/api/favourites/add_favourite', params)
                        .then(function (resp) {
                            if (resp.data) {
                                console.log(app.clickEvent.target.classList);
                                app.clickEvent.target.classList.remove('btn-outline-primary');
                                app.clickEvent.target.classList.toggle('btn-danger');
                                app.clickEvent.target.innerText = 'Delete';
                            } else {
                                app.clickEvent.target.classList.remove('btn-danger');
                                app.clickEvent.target.classList.toggle('btn-outline-primary');
                                app.clickEvent.target.innerText = 'Undo';
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp);
                            alert("Error adding/delete to cart");
                        });

                }
            }

        }
    }
</script>
